
body {
    background-image: url("static/backgroud/back_g.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}