{% extends 'common/base.html' %}
{% load user_info %}

{% block content %}
    <div>
        <h1>
            {% user_info request.user %}
        </h1>

    </div>
{% endblock %}

{% block study %}
    <div class="resource-links">
        <h4>Upcoming Events</h4>
        <ul>
            <li>Medical Conference on Pediatrics - 15th December 2024</li>
            <li>Global Health Summit - 20th January 2025</li>
            <li>USMLE Step 1 Exam - 1st February 2025</li>
        </ul>
    </div>
{% endblock %}
