{% extends 'common/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    {% include 'common/nav.html' %}

    <div class="container">
        {% include 'events/search-form.html' %}
        <div class="events">
            {% for event in events %}
                <a id="event-url" href="{% url 'event_details' event.pk %}">
                    <div class="event">
                        <h2>{{ event.name }}
                            {% if not event.approved %}
                                {% if 'events.can_approve_events' in request.user.get_group_permissions or perms.events.can_do_approve %}
                                    <a href="{% url 'approve' event.pk %}"><i class="ai-check"></i></a>
                                {% endif %}
                            {% endif %}
                        </h2>
                    </div>
                </a>


                </div>
                {% if not events %}
                    <h1>No published events yet</h1>
                {% endif %}

            {% empty %}
                <h1 class="no-posts">No Events</h1>
            {% endfor %}
    
    </div>
{% endblock %}